.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#shopping-cart-container{
  display: flex;
}

#order-summary-container{
  padding: 0.7rem 1.4rem;
  flex: 0 1 350px;
  height: 200px;
  float: right;
  border: solid rgb(238, 238, 238) 0.2rem;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem;
}

#order-summary-container:hover{
  background-color: rgba(247, 247, 247, 0.836);
  box-shadow: 3px 3px 3px #3f00c71a;
}

#order-summary{
  position: relative;
  text-align: start;
  font-weight: normal;
  font-size: 1.2rem;
}

#order-summary-container > h4{
  padding: 1rem;
  margin-top: 0rem;
}

.order-summary-text{
  float: right;
}

#shopping-cart-select-all{
  padding-left: 10px;
}

#item-list-text{
  text-align: center;
  padding: 10rem;
  font-size: 1.3rem;
  font-weight: 800;
  color: #4000c7;
  width: 800px;
  display: inline-block;
}

#main-body {
  background-color: #bc9eff0e;
  padding: 5rem;
  display: table-cell;
  width: 100%;
}

#main-container{
  display: table;
  margin: 60px auto;
  width: 100%;
  height: calc(100vh - 4rem);
}


.main-content {
  display: inline-block;
  width: 230px;
  height: 300px;
  border: solid rgb(238, 238, 238) 0.1rem;
  margin: 0.3rem;
  background-color: white;
}

#nav-body {
  background-color: #904BD4;
  width: 100%;
  height: 4rem;
  position: fixed; 
  z-index: 1;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: center start;
  padding-left: 10px;
}

#title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}

#name {
  /* vertical-align: middle; */
  font-size: 35px;
  padding-left: 15px;
  color: #F9F9F9;
}

#logo {
  width: 250px;
  margin: 0 1rem;
  vertical-align: top;
}

#menu {
  margin: 0rem;
  right: 0;
  font-weight: 300;
  position: absolute;
  width: 524px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 350;
  margin: 0.7rem;
}

a:hover {
  color: #4000c7
}

#nav-btn {
  width: 17%;
  padding: 0.5rem 1rem;
  margin-left: 0;
  border: none;
  border-radius: 22px;
  font-size: 0.9rem;
  font-weight: 390;
  text-align: center;
}

#nav-btn:hover {
  color: white;
  background-color: #4000c7;
}

#nav-item-counter {
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  background-color: #4000c7;
  border-radius: 1rem;
  margin-left: 0.3rem;
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  line-height: 1.2rem;
}

#footer {
  background-color: hsl(0, 7%, 94%);
  height: 16rem;
  padding: 15px;
}

#footer-text {
  display: inline-block;
  margin: 5px 20px;
  color: rgb(94, 95, 97);
  font-size: small;
}

@media (max-width: 1000px) {
  #cart-item-list {
    width: 100%;
  }

  #order-summary-container{
    width: 100%;
    float: left;
  }
  #shopping-cart-container{
    display: block;
  }
}

/* SitterListContainer */

#petSitterInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 140px;
  padding-top: 50px;
  height: 60vh;
}

#petSitterInfo-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#petSitterInfo-btn {
  width: 15%;
  padding: 0.7rem 1rem;
  margin: 4px 0px;
  border: none;
  border-radius: 23px;
  font-size: 0.9rem;
  font-weight: 440;
  text-align: center;
  background-color: #904BD4;
  color: #F9F9F9;
}

#petSitterInfo-select {
  width:850px;
  padding:5px;
  border:1px solid #999;
  font-family:'Nanumgothic';
  border-radius:3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance : none;
}

#petSitterInfo-select::-ms-expand {
  display: none;
}

#petSitterInfo-body {
  margin-top: 30px;
  width: 840px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: flex;
  width: 420px;
}

.item:hover {
  background-color: rgba(247, 247, 247, 0.836);
  /* box-shadow: 3px 3px 3px #3f00c71a; */
}

.item-img {
  width: 130px;
  height: 130px;
  margin: 0.5rem;
  border: 0.5px solid rgb(238, 238, 238);
  border-radius: 50%;
  object-fit: cover;
}

.item-infodiv {
  margin: 10% 17px;
  font-size: 14px;
}

.item-name {
  font-size: 1;
  font-weight: 700;
}

.item-line {
  color: #999;
}

#petSitterInfo-apply{
  display: none;
}
.popup-wrap{
  background-color:rgba(0,0,0,.3); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;               
  display:flex; 
  padding:15px; 
}

.popup{
  width:100%;              
  max-width:800px;  
  height:700px;          

  border-radius:10px;       
  overflow:hidden;       
  background-color:#904BD4; 
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
}

.popup-head{
  width:100%;
  height:50px;  
  display:flex;
  align-items:center;
  justify-content:center;
  color: #F9F9F9;
  font-weight: 400;
}

.popup-body{                
  width:100%;
  background-color:#ffffff; 
}
.body-content{              
  width:100%;
  padding:20px;             
}
.body-titlebox{            
  text-align:center;        
  width:100%;
  margin-bottom:10px;     
}
.body-titlebox h1{
  margin: 5px;
}
.body-infobox{           
  word-break:break-word;    
  height:auto;   
  display: flex; 
  margin: 22px 37px 18px;       
}
.body-infobox-img{
  width: 190px;
  height: 190px;
  margin-right: 20px;
}
.body-infobox-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.body-infobox-info{
  margin: 2px 0px 2px 20px;
  width: 420px;

}
.body-infobox-info div{
  margin-bottom: 5px;
  background-color: rgba(144, 75, 212, 0.1);
  width: 100%;

  border-radius: 18px;
  padding: 6px 20px;
}
.body-infobox-content{
  height: 80px;
}

.body-infobox-input{
  width: 88%;
  height:auto;  
  margin: auto;
  padding-bottom: 24px;
  border: 5px solid #904BD4; 
  border-radius: 20px;        
}

.popup-foot{                     
  width:100%;
  height:50px;
}
.pop-btn{ 
  display:inline-flex;           
  width:100%;                     
  height:100%;
  justify-content:center;        
  align-items:center;             
  float:left;                   
  color:#ffffff;                  
  cursor:pointer;               
}

.days{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.days-title {
  margin: 15px 0 12px;
}
.all_days label {
	width: 50px;
	height: 50px;
  border: 5px solid rgb(206, 206, 206);
  border-radius: 14px;
  display: inline-block;	
  box-sizing: border-box;
	cursor: pointer;
  margin: 1px;

  font-weight: 200;
  padding: 5px ;
  font-size: 15px;
}
input[type="checkbox"]:checked + label {
  border-color: #904BD4;
  background-color: #904BD4;
  color: #F9F9F9;
  font-weight: 450;

}
.all_days input[type="checkbox"] {
  display: none;
}
#registrationStartTime, #registrationLastTime{
  width:50px;
  padding:3px;
  border:1px solid #999;
  font-family:'Nanumgothic';
  border-radius:3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance : none;
}
#registrationPay{
  /* display: inline-block; */
  /* border-radius:3px; */
  padding:2px;

  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance : none; */
}


/* PetListContainer */

#petUserInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 140px;
  padding-top: 50px;
  height: 80vh;
}

#petUserInfo-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#petUserInfo-btn {
  width: 15%;
  padding: 0.7rem 1rem;
  margin: 4px 0px;
  border: none;
  border-radius: 23px;
  font-size: 0.9rem;
  font-weight: 440;
  text-align: center;
  background-color: #904BD4;
  color: #F9F9F9;
}

#petUserInfo-select {
  width:850px;
  padding:5px;
  border:1px solid #999;
  font-family:'Nanumgothic';
  border-radius:3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance : none;
}

#petUserInfo-select::-ms-expand {
  display: none;
}

#petUserInfo-body {
  margin-top: 10px;
  width: 840px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pet-item {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;

  width: 840px;
  height: 280px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.pet-item:hover {
  background-color: rgba(247, 247, 247, 0.836);
}

.pet-item-img {
  width: 190px;
  height: 190px;
  margin: 0 40px;
  border: 0.5px solid rgb(238, 238, 238);
  border-radius: 50%;
  object-fit: cover;
}

.item-petdiv {
  margin: 10% 17px;
  width: 430px;
  font-size: 14px;
}
#pet-registration-careType-container{
  display: flex;
  flex-direction: row;
}
#pet-registration-careType-container div{
  padding: 0 5px;
}
#pet-registration-careType{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#careType{
  width:80px;
  padding:3px;
  margin: 0 61px;
  border:1px solid #999;
  font-family:'Nanumgothic';
  border-radius:3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance : none;
}

/* Profile.js */

#profile-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 249, 186);
  margin: 215px auto 350px;

  width: 1000px;
  height: 700px;
  border-radius: 20px;

  position: relative;
}

#profile-title {
  position: absolute;
  top: 42px;
  /* left: 33%; */

  font-size: 40px;
  font-weight: 800;
  color: #fceb28;
  font-style: inherit;
  text-shadow: -5px 0 #fffde7, 0 5px #fffde7, 5px 0 #fffde7, 0 -5px #fffde7;
}

#profile-info {
  background-color: #fffde7;
  margin-right: 23px;
  width: 500px;
  height: 450px;
  border-radius: 10px;

  display: flex;
}

#profile-info-img {
  width: 200px;
  height: 200px;
  margin: 45px 20px;
}

#profile-info-img img {
  width:100%;
  height: 100%;

  border-radius: 50%;
}

#profile-info-write {
  margin-top: 40px;
}

#profile-info-write div {
  background-color: #fffff5;
  width: 235px;
  height: 33px;
  margin: 8px 0;
  padding: 9px 13px;
  border-radius: 20px;
}

#profile-info-write .profile-info-content {
  height: 120px;

}


#profile-date {
  background-color: #fffde7;
  width: 400px;
  height: 450px;

  border-radius: 10px;
}

#profile-btn {
  position: absolute;
  bottom: 70px;
  right: 45px;

  width: 130px;
  padding: 0.7rem 1rem;
  margin-left: 0;
  border: none;
  border-radius: 22px;
  font-size: 0.9rem;
  font-weight: 450;
  text-align: center;
  background-color: #8f4bd4e6;
  color: #F9F9F9;
}
#profile-modal-container{
  display: none;
}

#profile-modal {
  /* background-color: rgba(151, 73, 223, 0.9);
  position: absolute;
  top: 160px;
  left: 20%;
  border-radius: 18px;
  display: none; */
  width: 620px;
  height: 340px;
  position: relative;

  /* width:100%;              
  max-width:800px;  
  height:700px;          
  border-radius:10px;       
  overflow:hidden;       
  background-color:#904BD4; 
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);  */
  
}

#profile-modal-close {
  position: absolute;
  top: 46px;
  right: 52px;
  font-size: 25px;
  cursor:pointer;
}

#profile-modal-text {
  background-color: #F9F9F9;
  position: absolute;
  top: 128px;
  left: 33%;

  font-size: 21px;
  text-align: center;
}

#profile-modal-btn-container {
  background-color:rgb(249, 249, 249);
  /* width: 600px; */
  height: 270px;
  border-radius: 14px;

  margin: 35px 33px;
  padding-top: 149px;
  padding-left: 126px;
  
}

#profile-modal-btn-container button {
  width: 130px;
  padding: 0.8rem 0.8rem;
  margin-left: 10px;
  border: none;
  border-radius: 22px;
  font-size: 0.9rem;
  font-weight: 390;
  text-align: center;
}

#profile-modal-btn-container button:hover {
  color: white;
  background-color: #9749df;
  cursor: pointer;
}

/* Mypage */
.mypage-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: #9749df;
  margin: 215px auto 350px;

  width: 1000px;
  height: 720px;
  border-radius: 20px;

  position: relative;
}
.mypage-header h1{
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  color: #7326bb;
  font-style: inherit;
  text-shadow: -4px 0 #fffde7, 0 4px #fffde7, 4px 0 #fffde7, 0 -4px #fffde7;
}
.mypage-body{
  display: flex;
}

.mypage-sidebar{
  background-color: #9749df;
  width: 46px;
  height: 580px;
  border-radius: 15px;
  padding-top: 30px;

}
.mypage-sidebar button{
  display: block;
  width: 55px;
  padding: 16px;
  margin: 5px auto;

  font-size: 15px;

  border: #9749df solid 1px;
  /* border-radius: 18px; */
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  outline: 1;
  background-color: rgb(244, 236, 251);
}
.mypage-sidebar a:nth-child(2)>button{
  background-color: #ffffff;
}
.mypage-sidebar button:hover{
  cursor: pointer;
}
.mypage-sidebar a{
  font-weight: 0;
  margin: 0;
}
#mypage-sidebar-userInfo{
  background-color: #ffffff;

}
#mypage-sidebar-booking, #mypage-sidebar-registration{
  background-color: rgb(244, 236, 251);
  
}

.mypage-section{
  background-color: rgb(244, 236, 251);
  width: 880px;
  height: 580px;
  border-radius: 15px;
  position: relative;
}
.mypage-section-btn{
  position: absolute;
  right: 20px;
  width: 250px;

}
.mypage-section button{
  width: 46%;
  padding: 0.9rem 0.9rem;
  margin: 35px 10px 35px 0px;
  border: none;
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight: 390;
  text-align: center;
  background-color: #9a53dcf4;
  color: rgb(244, 236, 251);
  font-weight: 550;
}
.mypage-section button:hover{
  background-color: #fffffff4;
  color: #9a53dcf4;
  cursor: pointer;
}
.mypage-section-profile{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 135px;
}
.mypage-section-nameAge{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mypage-section-nameAge div{
  width: 45%;
}
.mypage-section-nameAge div:first-child{
  border-right : 2px solid #d8d8d8;
  height : 20px;
  
}
.mypage-section-profile>div{
  background-color: #ffffff;
  width: 60%;
  margin: 11px;
  padding: 15px;
  border-radius: 20px;
  
}
.mypage-section-profile>div:not(:last-of-type){
  height: 45px;
  text-align: center;
}

.mypage-content{
  height: 130px;
  text-align: center;
  line-height: 100px;
}
#mypage-modal-container, #mypage-secession-container{
  display: none;
}



/* PwChange.js */


.mypage-pwchange-section{
  background-color: rgb(244, 236, 251);
  
  width: 880px;
  height: 580px;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mypage-pwchange-box {
  width: 340px;
  height: 400px;
  background-color: rgb(244, 236, 251);
  margin-bottom: 60px;
}
.mypage-pwchange-title{
  width: 100%;
  line-height: 5rem;
  margin: 45px 0;
  /* padding: 0 auto; */
  font-size: 2rem;
  font-style: inherit;
  font-weight: 730;
}
.mypage-pwchange-input{
  display: flex;
  flex-direction: column;
}
.mypage-pwchange-input input{
  display: block;

  width: 100%;
  height: 50px;
  margin: 18px 0;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  background-color: rgb(244, 236, 251);

  text-align: center;
} 
.mypage-pwchange-input input:focus{
  outline: none;
}
#mypage-pwchange-btn{
  margin-top: 20px;
  border-bottom: none;
  background-color: #9a53dcf4;
  color: hsl(0, 7%, 94%);
  font-weight: 600;
  cursor: pointer;
}
#mypage-pwchange-btn:hover{
  background-color: hsl(0, 7%, 94%);
  color: #9a53dcf4;
}
#mypage-pwchange-modal-text {
  background-color: #F9F9F9;
  position: absolute;
  top: 115px;
  left: 33%;
  font-size: 21px;
  text-align: center;
}
#mypage-pwchange-container{
  display: none;
}
#mypage-pwchange-container button{
  margin-left: 20%;
}

/* Booking.js */
.mypage-section{
  width: 900px;
  overflow: auto;
}

.mypage-section>div{
  margin-top: 100px;
  margin-bottom: 200px;


}
.booking-item{
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 80%;
  margin: 20px 92px;
  /* justify-content: space-evenly; */
  padding: 6px 10px;
  cursor: pointer;
}
.booking-item:hover{
  background-color: rgb(237, 237, 237);
}

.booking-item-img{
  width: 90px;
  height: 90px;
}
.booking-item-line {
  width: 184px;
  height: 90px;
  border-right: 2px solid rgba(183, 183, 183, 0.64);
  padding: 0 40px;
  
}
.booking-item-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.booking-item-write{
  width: 500px;
  /* margin-right: 100px; */
  padding: 25px 0 0 180px;
}
.booking-item-time{
  padding-left: 20px;
}